[submodule "src/SAP/SAP_REPORTING"]
	path = src/SAP/SAP_REPORTING
	url = https://github.com/GoogleCloudPlatform/cortex-reporting
	branch = main
#[submodule "src/SAP/SAP_ML_MODELS"]
#	path = src/SAP/SAP_ML_MODELS
#	url = ../cortex-ml-models
#	branch = main
[submodule "src/SAP/SAP_CDC"]
	path = src/SAP/SAP_CDC
	url = ../cortex-cdc-processor
	branch = dev
#[submodule "src/SFDC"]
#	path = src/SFDC
#	url = ../cortex-salesforce
#	branch = main
[submodule "src/SAP/ROW_LEVEL_SECURITY"]
	path = src/SAP/ROW_LEVEL_SECURITY
	url = ../cortex-row-level-security
	branch = main
